<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>JLong Blog</title>
</head>

<header>
    <nav class="navbar">
        <div class="navdiv">
            <div class= "logo"><a class="navbar-brand navbar-logo" href="/">🍪</a></div>
            <ul class="nav-options ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/post">Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                
            </ul>
        </div>
    </nav>
</header>

<body>
  <main>