<%- include("partials/header.ejs") %>

<h1>
  <!-- Tite goes here -->
  <%= title %>
</h1>
<p>Current second:
  <!-- Current second goes here -->
  <%= seconds %>
</p>
  
<%- include("partials/footer.ejs") %>