.navbar {
    background-color: lightblue;
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body{
    margin: 0;
}

.logo a{
    font-size: 35px;
    font-weight: 600;
    color: blue;
    text-decoration: none;
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    color: blue;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    padding: 5px;
}

a.active,a:hover{
    background: rgb(118, 180, 201);
    transition: .5s;
}

h1{
    margin: 0.5em 0 0.5em .5em;
	font-weight: 100;
	text-transform: uppercase;
	color: #00caa6;
	font-style: italic;
	font-family: 'calibri', sans-serif;
	font-size: 58px;
	line-height: 54px;
	text-shadow: 2px 5px 0 rgba(0,0,0,0.2);
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 12rem;
}

.banner-left, .banner-right {
    width: auto;
    height: 100%; 
}

.banner-middle {
    flex-grow: 1;
    height: 100%;
    width: auto;
}

.banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%); 
    color: white; 
    font-size: 4rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
    z-index: 1;
    text-align: center;
    white-space: nowrap;
}

.banner img {
    display: block;
}

.posts {
    background-color: paleturquoise;
    width: 90%;
    margin: 0 auto;
    padding: 2em;
}

.post{
    border-bottom: 3px solid rgb(118, 180, 201);
}
.post h2{
    color: blue;
    font-family: 'calibri';
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-left: 1rem;
    margin-top: 15px;
    color: #555;
    font-weight: bold;
}

input[type="text"], textarea {
    padding: 10px;
    margin-left: 1rem;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 80%;
}

#createPost {
    width: 10rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.post p{
    font-family: 'calibri';
}

.postButtonsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

button{
    margin-bottom: .5em;
    border: none;
    padding: .5rem;
    border-radius:.5em;
}

#editPost{
    background-color: white;
}

#deletePost{
    background-color: red;
}

.contact{
    margin-left: 5%;
}

footer {
    background-color: lightblue;
    text-align: center;
    color: blue;
    padding: 20px;
}