.navbar {
    background-color: lightblue;
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 35px;
    font-weight: 600;
    color: blue;
    text-decoration: none;
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    color: blue;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    padding: 5px;
}

a.active,a:hover{
    background: rgb(118, 180, 201);
    transition: .5s;
}

h1{
    margin: 1em 0 0.5em .5em;
	font-weight: 100;
	text-transform: uppercase;
	color: #00caa6;
	font-style: italic;
	font-family: 'calibri', sans-serif;
	font-size: 58px;
	line-height: 54px;
	text-shadow: 2px 5px 0 rgba(0,0,0,0.2);
}

.posts {
    background-color: paleturquoise;
    margin: 0em 5em;
    padding: 2em;
}

.post{
    border-bottom: 3px solid rgb(118, 180, 201);
}
.post h2{
    color: blue;
    font-family: 'calibri';
}

.post p{
    font-family: 'calibri';
}

#deletePost{
    margin-left: 95%;
    margin-bottom: .5em;
    background-color: red;
    border: none;
    padding: .5em;
    border-radius:.5em;
}

footer {
    background-color: lightblue;
    text-align: center;
    color: blue;
    padding: 20px;
}